<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lamnt.foreground">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application android:name=".ForegroundBridge">
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>